@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400&display=swap");
.thanks-main {
  margin-top: 82px;
  height: 50vh;
  border-bottom: 1px solid #420056;
}
.thanks-main .thanks {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thanks-main .thanks h2 {
  font-family: "Futura";
  font-size: 40px;
  padding-bottom: 20px;
}
.thanks-main .thanks h3 {
  font-family: "Futura";
}
.thanks-main .back-btn {
  z-index: 1;
  text-align: center;
}
.thanks-main .back-btn p svg {
  margin-right: 1rem;
}
.thanks-main .back-btn a {
  font-family: "Futura", sans-serif;
  color: #000000;
  text-decoration: none;
}
.thanks-main .back-btn a:hover {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

body {
  background-color: #F2ECE7;
  padding-top: 58px;
}

.navbar {
  background-color: #F2ECE7;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
.navbar a:hover {
  color: rgba(87, 16, 108, 0.4784313725);
}
.navbar a:focus {
  color: rgba(87, 16, 108, 0.4784313725);
}
.navbar a:active {
  color: rgba(87, 16, 108, 0.4784313725);
}
.navbar .nav-link {
  color: rgb(87, 16, 108);
  font-family: "Futura";
}
.navbar .nav-link.active {
  color: #420056;
}
.navbar .container .logo {
  width: 100%;
  height: auto;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(87, 16, 108)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .navbar-toggler {
  border: none;
  color: transparent;
}
.navbar button {
  border: none;
}
.navbar a.navbar-brand {
  width: 12%;
}

.header-container {
  background-color: transparent;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container img {
  width: 50%;
  height: auto;
}

.about {
  display: flex;
  padding: 20px;
  margin-top: 10px;
}
.about .about-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 7rem;
}
.about .about-text h1 {
  font-family: "Futura", sans-serif;
  font-size: 2rem;
  font-weight: 800;
}
.about .about-text h2 {
  font-family: "Futura";
  font-size: 1rem;
  padding-top: 1.3rem;
  font-weight: 300;
}
.about .about-text p {
  font-size: 1rem;
  padding-top: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
.about .about-img img {
  height: 80vh;
}

.brands-box {
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.brands-box h2 {
  align-items: center;
  font-family: "Futura";
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  color: #57106C;
}
.brands-box a {
  color: #57106C;
  text-decoration: none;
  font-family: "Futura";
  font-size: 300;
}
.brands-box .brands {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.brands-box .brands img {
  width: 10%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px;
}

.contact {
  display: flex;
  padding-top: 4rem;
  align-items: center;
  padding: 20px;
}
.contact .image {
  width: 40%;
  overflow: hidden;
}
.contact .image img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .contact-form {
  width: 60%;
}
.contact .contact-form h2 {
  text-align: center;
  font-family: "Futura";
  font-weight: 300;
  color: #57106C;
}
.contact .contact-form form {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.contact .contact-form label {
  font-family: "Futura";
}
.contact .contact-form input[type=text],
.contact .contact-form select,
.contact .contact-form textarea,
.contact .contact-form input[type=subject],
.contact .contact-form input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact .contact-form input::-moz-placeholder, .contact .contact-form textarea::-moz-placeholder {
  font-family: "Futura";
}
.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder {
  font-family: "Futura";
}
.contact .contact-form input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Futura";
}
.contact .contact-form input[type=submit]:hover {
  background-color: #57106C;
  color: white;
}
.contact .contact-form .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

footer {
  padding: 3rem;
}
footer .info {
  display: flex;
  justify-content: center;
}
footer .logo img {
  width: 60%;
}
footer .media-location {
  display: flex;
  justify-content: center;
}
footer .media-location h2 {
  font-family: "Futura";
  color: #57106C;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
footer .social-media,
footer .location {
  padding-right: 5rem;
}
footer .social-media h2,
footer .location h2 {
  font-family: "Futura";
  color: #57106C;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
footer .social-media p,
footer .location p {
  font-family: "Nunito Sans";
  font-weight: 300;
}
footer .social-media p a,
footer .location p a {
  color: #57106C;
  text-decoration: none;
  line-height: 2;
}
footer .bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer .bottom .arrow {
  text-align: center;
  padding-bottom: 3rem;
}
footer .bottom .arrow img {
  width: 8%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
footer .bottom .arrow h3 {
  font-family: "Futura";
  color: #57106C;
  font-size: 1rem;
  font-weight: 300;
}
footer .bottom p {
  text-align: center;
  font-family: "Futura";
  color: #57106C;
  font-size: 0.6rem;
}
footer .bottom p a {
  text-decoration: none;
  color: rgba(87, 16, 108, 0.6705882353);
}
footer .bottom p a:hover {
  text-decoration: none;
  color: rgba(87, 16, 108, 0.3490196078);
}

.heading-banner {
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #57106C;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading-banner h2 {
  font-family: "Futura";
  color: #57106C;
  padding: 20px;
}
.heading-banner p {
  font-family: "Nunito Sans";
  font-weight: 300;
  width: 50%;
}

.brands-container {
  background-color: white;
}
.brands-container .grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 100vw;
}
.brands-container .grid-container .grid-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands-container .grid-container .grid-item img {
  width: 50%;
}

.heading-banner {
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #57106C;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading-banner h2 {
  font-family: "Futura";
  color: #57106C;
  padding: 20px;
}
.heading-banner p {
  font-family: "Nunito Sans";
  font-weight: 300;
  width: 50%;
}

.brands-container {
  background-color: white;
}
.brands-container .grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 100vw;
}
.brands-container .grid-container .grid-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands-container .grid-container .grid-item img {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  * {
    overflow-x: hidden;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar a.navbar-brand {
    width: 40%;
  }
  .header-container {
    height: 100%;
  }
  .header-container img {
    width: 80%;
  }
  .about {
    width: 100vw;
    display: block;
    padding: 0;
    padding-bottom: 20px;
  }
  .about .about-text {
    padding: 1rem;
  }
  .about .about-text h1 {
    font-size: 1.5rem;
    overflow-y: hidden;
  }
  .about .about-text p {
    overflow-y: hidden;
  }
  .about .about-img {
    text-align: center;
  }
  .about .about-img img {
    height: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 20px;
    padding-top: 0;
  }
  .ig-feed {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .brands-box .brands {
    justify-content: space-between;
    padding: 10px;
  }
  .brands-box .brands img {
    padding: 0;
    width: 15%;
  }
  .contact {
    display: block;
  }
  .contact .image {
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  .contact .image img {
    height: 100vw;
    width: 100%;
  }
  .contact .contact-form {
    width: 100%;
  }
  .contact .contact-form input[type=submit] {
    height: 50px;
  }
  .contact .contact-form h2 {
    overflow-y: hidden;
  }
  footer {
    padding: 20px;
    padding-top: 2rem;
  }
  footer .social-media,
  footer .location {
    padding-right: 0rem;
    padding: 10px;
  }
  footer .social-media h2,
  footer .location h2 {
    font-size: 15px;
  }
  footer .social-media p,
  footer .location p {
    font-size: 10px;
  }
  footer .info {
    justify-content: space-between;
  }
  footer .info .logo {
    width: 25%;
  }
  footer .info img {
    width: 100%;
    padding-top: 10px;
  }
  footer .bottom {
    padding-top: 20px;
  }
  footer .bottom .arrow img {
    padding-bottom: 10px;
    width: 10%;
  }
  footer .bottom .arrow h3 {
    overflow-y: hidden;
  }
  .brands-container .grid-container .grid-item {
    padding: 0px;
  }
  .heading-banner {
    padding-top: 0;
    margin-top: 20px;
  }
  .heading-banner p {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */