@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2ECE7;
}

a {
  color: #57106C;
}

a:hover {
  color: rgba(87, 16, 108, 0.4784313725);
}

a:focus {
  color: rgba(87, 16, 108, 0.4784313725);
}

.header {
  display: flex;
  height: 60vh;
  margin-top: 100px;
  justify-content: center;
}
.header .logotype {
  width: 60%;
}
.header .logotype img {
  width: 100%;
}

.navbar-mobile {
  display: none;
  overflow: hidden;
}
.navbar-mobile button {
  background: transparent;
  border: none;
}
.navbar-mobile .logo {
  height: 3rem;
}
.navbar-mobile .hide {
  display: none;
}
.navbar-mobile .show-menu-button img {
  height: 3rem;
  transition: 0.5s ease-in-out;
  padding: 0;
}
.navbar-mobile .close-menu-button {
  font-size: 2rem;
}
.navbar-mobile .menu-slide-out {
  position: fixed;
  top: 0;
  right: 0;
  color: #1a1a1a;
  background-color: #ffffff;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  transition: 0.5s linear;
}
.navbar-mobile ul {
  list-style-type: none;
  padding: 0rem;
}
.navbar-mobile .menu-list li {
  padding: 0.6rem;
  font-family: "Futura", sans-serif;
  font-weight: 600;
}
.navbar-mobile .menu-slide-out p {
  color: #1a1a1a;
}
.navbar-mobile .menu-slide-out h2 {
  text-align: center;
  color: #1a1a1a;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  float: right;
  padding: 15px;
}

.navbar-desktop {
  background-color: #F2ECE7;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.navbar-desktop .logo {
  width: 30%;
  text-align: center;
}
.navbar-desktop .logo img {
  width: 40%;
}
.navbar-desktop .menu-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 40%;
  justify-content: center;
}
.navbar-desktop .menu-links a {
  font-family: "Futura";
  color: #57106C;
  text-decoration: none;
  padding: 0px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-desktop .menu-links li {
  width: 100%;
}
.navbar-desktop .menu-links a:hover {
  color: rgba(87, 16, 108, 0.4784313725);
}
.navbar-desktop .menu-links a:focus {
  color: rgba(87, 16, 108, 0.4784313725);
}
.navbar-desktop .social-media {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
}
.navbar-desktop .social-media img {
  width: 80%;
  padding: 10px;
}

.about {
  display: flex;
  padding: 20px;
}
.about .about-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 7rem;
}
.about .about-text h2 {
  font-family: "Futura", sans-serif;
  font-size: 3rem;
  font-weight: 800;
}
.about .about-text h3 {
  font-family: "Futura";
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 500;
}
.about .about-text p {
  font-size: 1rem;
  padding-top: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
.about .about-img img {
  height: 100vh;
}

.brands-box {
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
}
.brands-box h2 {
  align-items: center;
  font-family: "Futura";
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  color: #57106C;
}
.brands-box a {
  color: #57106C;
  text-decoration: none;
  font-family: "Futura";
  font-size: 300;
}
.brands-box .brands {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.brands-box .brands img {
  width: 10%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px;
}

.contact {
  display: flex;
  padding-top: 4rem;
  align-items: center;
}
.contact .image {
  width: 40%;
  overflow: hidden;
}
.contact .image img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .contact-form {
  width: 60%;
}
.contact .contact-form h2 {
  text-align: center;
  font-family: "Futura";
  font-weight: 300;
  color: #57106C;
}
.contact .contact-form form {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.contact .contact-form label {
  font-family: "Futura";
}
.contact .contact-form input[type=text],
.contact .contact-form select,
.contact .contact-form textarea,
.contact .contact-form input[type=subject],
.contact .contact-form input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact .contact-form input::-moz-placeholder, .contact .contact-form textarea::-moz-placeholder {
  font-family: "Futura";
}
.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder {
  font-family: "Futura";
}
.contact .contact-form input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Futura";
}
.contact .contact-form input[type=submit]:hover {
  background-color: #57106C;
  color: white;
}
.contact .contact-form .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

footer {
  padding: 3rem;
}
footer .info {
  display: flex;
  justify-content: center;
}
footer .logo img {
  width: 60%;
}
footer .media-location {
  display: flex;
  justify-content: center;
}
footer .media-location h2 {
  font-family: "Futura";
  color: #57106C;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
footer .social-media,
footer .location {
  padding-right: 5rem;
}
footer .social-media h2,
footer .location h2 {
  font-family: "Futura";
  color: #57106C;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
footer .social-media p,
footer .location p {
  font-family: "Nunito Sans";
  font-weight: 300;
}
footer .social-media p a,
footer .location p a {
  color: #57106C;
  text-decoration: none;
  line-height: 2;
}
footer .bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 0 0;
}
footer .bottom .arrow {
  text-align: center;
  padding-bottom: 3rem;
}
footer .bottom .arrow img {
  width: 8%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
footer .bottom .arrow h3 {
  font-family: "Futura";
  color: #57106C;
  font-size: 1rem;
  font-weight: 300;
}
footer .bottom p {
  text-align: center;
  font-family: "Futura";
  color: #57106C;
  font-size: 0.6rem;
}
footer .bottom p a {
  text-decoration: none;
}

.heading-banner {
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #57106C;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading-banner h2 {
  font-family: "Futura";
  color: #57106C;
  padding: 20px;
}
.heading-banner p {
  font-family: "Nunito Sans";
  font-weight: 300;
  width: 50%;
}

.brands-container {
  background-color: white;
}
.brands-container .grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 100vw;
}
.brands-container .grid-container .grid-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands-container .grid-container .grid-item img {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  * {
    overflow: hidden;
    overflow-y: scroll;
  }
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #F2ECE7;
    width: 100vw;
    z-index: 1;
    height: 10%;
    align-items: center;
    margin: 0;
  }
  .navbar-mobile .menu-list li {
    padding: 10px;
  }
  .navbar-mobile .logo {
    overflow-y: hidden;
    height: 100%;
  }
  .navbar-mobile .logo img {
    height: 100%;
    text-align: center;
  }
  .navbar-mobile .menu-slide-out {
    width: 100%;
    height: 50%;
  }
  .navbar-mobile .menu-slide-out a {
    text-decoration: none;
    font-family: "Futura";
    font-weight: 300;
  }
  .navbar-mobile .close-menu-button {
    font-size: 3rem;
    color: #57106C;
  }
  .about {
    width: 100vw;
    display: block;
    padding: 0;
    padding-bottom: 20px;
  }
  .about .about-text {
    padding: 1rem;
    margin-top: 60px;
  }
  .about .about-text h2 {
    font-size: 2.5rem;
  }
  .about .about-img {
    text-align: center;
  }
  .about .about-img img {
    height: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ig-feed {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .brands-box .brands {
    justify-content: space-between;
    padding: 10px;
  }
  .brands-box .brands img {
    padding: 0;
    width: 15%;
  }
  .contact {
    display: block;
  }
  .contact .image {
    display: none;
  }
  .contact .contact-form {
    width: 100%;
  }
  .contact .contact-form input[type=submit] {
    width: 100%;
    padding: 20px;
  }
  footer {
    padding: 20px;
    padding-top: 5rem;
  }
  footer .social-media,
  footer .location {
    padding-right: 0rem;
    padding: 10px;
  }
  footer .social-media h2,
  footer .location h2 {
    font-size: 15px;
  }
  footer .social-media p,
  footer .location p {
    font-size: 10px;
  }
  footer .info {
    justify-content: space-between;
  }
  footer .info .logo {
    width: 25%;
  }
  footer .info img {
    width: 100%;
    padding-top: 10px;
  }
  footer .bottom {
    padding-top: 20px;
  }
  .navbar-desktop {
    display: none;
  }
  .brands-container .grid-container .grid-item {
    padding: 0px;
  }
  .heading-banner {
    padding-top: 0;
  }
  .heading-banner p {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */